header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h2{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .menu-absolute{
        position: absolute;
        right: 18px;
        width: 20px;
        display: flex;
        justify-content: end;
        div{
            position: absolute;
            height: 3.2px;
            border-radius: 30px;
            background: #000;
            transform: rotate(180deg);
            &:first-child{
                top: -6px;
                width: 90%;
            }
            &:nth-child(2){
                width: 65%;
            }
            &:last-child{
                bottom: -9px;
                width: 40%;
            }
        }
    }
}